@using Etar.Application.Services.Admins.Cart.Queries.GetCartDetails
@using Etar.Domain.Entities

@model Result<CartDetailsDto>

<html lang="zxx" class="theme-dark">
<!-- Mirrored from templates.hibotheme.com/etar/default/shop-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2024 22:14:29 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Link of CSS files -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/swiper.bundle.min.css">
    <link rel="stylesheet" href="~/assets/css/scrollcue.min.css">
    <link rel="stylesheet" href="~/assets/css/remixicon.css">
    <link rel="stylesheet" href="~/assets/css/header.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/footer.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css">

    <title>ایتار-جزئیات سبد</title>
    <link rel="icon" type="image/png" href="~/assets/img/favicon.webp">
</head>
<body class="bg-bunk loaded">

    <!--  Preloader Start -->
    <div class="loader-wrapper">
        <div class="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!--  Preloader End -->
    <!-- Breadcrumb Section Start -->
    <div class="breadcrumb-wrap bg-mild position-relative">
        <img src="~/assets/img/breadcrumb/br-shape-1.webp" alt="Image" class="br-shape-one position-absolute sm-none bounce">
        <img src="~/assets/img/breadcrumb/br-shape-2.webp" alt="Image" class="br-shape-two position-absolute sm-none moveHorizontal">
        <img src="~/assets/img/breadcrumb/br-shape-3.webp" alt="Image" class="br-shape-three position-absolute top-0 end-0 h-100">
        <div class="container text-center ps-xxl-4">
            <h2 class="br-title text-white">جزئیات سبد</h2>
            <ul class="br-menu list-unstyle">
                <li class="fs-xxl-20">رستوران ایتار</li>
                <li class="fs-xxl-20"><a asp-action="ConfirmedCarts">لیست سبد ها</a></li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb Section End -->
    <!-- جزئیات فروشگاه section Start -->
    <!-- Cart section start -->
    <div class="container style-two">
        <div class="cart-wrap ptb-130">

            @if (Model.IsSuccess)
            {

                <div class="cart-table px-xxl-3 mb-65">
                    <table class="table text-nowrap">
                        <thead>
                            <tr>
                                <th scope="col" class="text-white f-secondary fs-xxl-18">نام </th>
                                <th scope="col" class="text-white f-secondary fs-xxl-18">تعداد</th>
                                <th scope="col" class="text-white f-secondary fs-xxl-18">قیمت تک</th>
                                <th scope="col" class="text-white f-secondary fs-xxl-18">قیمت تعداد</th>
                                <th scope="col" class="text-white f-secondary fs-xxl-18"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Data.Items)
                            {
                                <tr>
                                    <td>
                                        <h6 class="fs-18 text-white fw-bold">
                                            @item.FoodName
                                        </h6>
                                    </td>

                                    <td>
                                        <h6 class="fs-18 text-white fw-bold">
                                            @item.count
                                        </h6>
                                    </td>

                                    <td>
                                        <h6 class="fs-18 text-white fw-bold">
                                            @item.PriceForOne
                                        </h6>
                                    </td>

                                    <td>
                                        <h6 class="fs-18 text-white fw-bold">
                                            @item.PriceForCount
                                        </h6>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                    <br /><br /><br />

                    <div class="row">
                        <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-8 offset-md-2">
                            <div class="cart-total bg-mild">
                                <h3 class="cart-box-title f-secondary text-white">مجموع سبد خرید</h3>
                                <div class="cart-total-wrap">
                                    <div class="cart-total-item">
                                        <p class="text-white"><b>جمع کل</b></p>
                                        <span class="text-white"><b>@Model.Data.TotalPrice.ToString("n0") تومان</b></span>
                                    </div>
                                </div>

                                <div class="cart-total-wrap">
                                    <div class="cart-total-item">
                                        <p class="text-white"><b>ادمین ثبت کننده</b></p>
                                        <span class="text-white"><b>@Model.Data.AdminName</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            }

            else
            {
                <h3 class="text text-danger">
                    @Model.Message
                </h3>
            }

        </div>
    </div>
    <!-- Cart section end -->
    <!-- جزئیات فروشگاه section End -->
    <!-- Back to Top -->
    <button type="button" id="backtotop" class="position-fixed text-center border-0 p-0" style="opacity: 0;">
        <i class="ri-arrow-up-line"></i>
    </button>

    <!-- Link of JS files -->
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/swiper.bundle.min.js"></script>
    <script src="~/assets/js/fslightbox.js"></script>
    <script src="~/assets/js/scrollcue.min.js"></script>
    <script src="~/assets/js/main.js"></script>



</body><!-- Mirrored from templates.hibotheme.com/etar/default/shop-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2024 22:14:29 GMT -->
</html>